html {
  font-family: ui-serif, system-ui;
  font-synthesis: none;
  line-height: 1.6;
  text-wrap: pretty;
  scroll-behavior: smooth;

  body {
    margin: auto;
    padding-inline: 1rem;
    max-inline-size: 32rem;

    footer {
      margin-block: 20vh;
      min-block-size: 60vh;
      text-align: end;
    }
  }
}

a {
  text-decoration: none;
}

@counter-style h2 {
  symbols: "+" "=" "" "" "" "";
}

@counter-style h3 {
  symbols: "+" "+" "=" "" "" "";
}

@counter-style h4 {
  symbols: "+" "+" "+" "=" "" "";
}

@counter-style h5 {
  symbols: "+" "+" "+" "+" "=" "";
}

@counter-style h6 {
  symbols: "+" "+" "+" "+" "+" "=";
}

:is(h1, h2, h3, h4, h5, h6, hr) {
  margin-block: 1lh 1cap;
  text-align: center;
  text-wrap: balance;

  & + & {
    margin-block-start: 1cap;
  }

  &::before {
    margin-inline-end: 1ch;
    font: normal system-ui;
    font-variant-position: super;
  }

  &::after {
    content: "";
  }
}

h1 {
  line-height: 1;
  font-size: xxx-large;
  letter-spacing: -0.03ch;

  counter-reset: last 1;
}

h2 {
  line-height: 1.2;
  font-size: xx-large;
  letter-spacing: -0.02ch;

  &::before {
    content: counter(last, h2);
  }

  &::after {
    counter-set: last 2;
  }
}

h3 {
  line-height: 1.4;
  font-size: x-large;
  letter-spacing: -0.01ch;

  &::before {
    content: counter(last, h3);
  }

  &::after {
    counter-set: last 3;
  }
}

h4 {
  font-size: large;

  &::before {
    content: counter(last, h4);
  }

  &::after {
    counter-set: last 4;
  }
}

h5 {
  font-size: medium;

  &::before {
    content: counter(last, h5);
  }

  &::after {
    counter-set: last 5;
  }
}

h6 {
  font-size: medium;

  &::before {
    content: counter(last, h6);
  }

  &::after {
    counter-set: last 6;
  }
}

:is(h6, th, dt) {
  font-weight: bold;
  font-variant: all-small-caps oldstyle-nums;
}

hr {
  border: none;

  &::after {
    content: "— § —";
  }
}

p {
  margin-block: 1ex;
  hanging-punctuation: first allow-end last;
}

:is(blockquote, dl),
:not(li) > :is(ol, ul) {
  margin-block: 1cap;
}

:is(blockquote, ol, ul, dd) {
  margin-inline: 0;
  padding-inline-start: 2em;
}

img {
  display: block;
  max-inline-size: 100%;
  margin: 1rem auto;
}

table {
  margin: 1rem auto;
  border-spacing: 1em 0;

  tfoot {
    font-style: italic;
  }
}

pre {
  margin-block: 1lh;
  white-space: pre-wrap;
}

sup {
  font: 1em system-ui;
  vertical-align: baseline;
  font-variant-position: super;
}

/* TODO: Consolidate with before spacing*/
li.task-list-item {
  list-style: "☐ ";

  &:has([checked]) {
    list-style: "☒ ";
  }

  input.task-list-item-checkbox {
    display: none;
  }
}

@media not (prefers-contrast: more) {
  :is(blockquote, del),
  ::marker,
  ::before,
  ::after {
    color: light-dark(grey, silver);
  }
}

pre.highlight {
  /* Primary: keywords, command prompt, heading, strong emphasis */
  :is([class^="k"], .gp, .gh, .gs) {
    color: light-dark(blue, gold);
  }

  /* Secondary: names, subheadings, emphasis */
  :is([class^="n"], .gu, .ge) {
    color: light-dark(navy, khaki);
  }

  /* Accent: numbers, escape */
  :is([class^="m"], .esc) {
    color: light-dark(purple, orange);
  }

  /* Special: strings, insertion, console output */
  :is([class^="s"], .gi, .go) {
    color: light-dark(green, limegreen);
  }

  /* Notice: error, double emphases, invalid syntax */
  :is(.gr, .ges, .err) {
    color: light-dark(crimson, orangered);
  }

  /* Mute: punctuations, operators, comments, deletion, traceback */
  :is([class^="p"], [class^="o"], [class^="c"], .gd, .gt) {
    color: light-dark(grey, silver);
  }
}

:is(ol, ul).inline {
  padding: 0;

  * {
    display: contents;
  }

  /* TODO: Consolidate with header indicator spacing*/
  li::before {
    content: "· ";
    font-weight: normal;
  }

  > li:first-child::before {
    content: none;
  }

  font-weight: bold;

  :is(ol, ul) {
    font-weight: normal;

    :is(ol, ul) {
      font-variant: all-small-caps oldstyle-nums;
    }
  }
}
