html {
  font-family: ui-serif, system-ui;
  font-synthesis: none;
  line-height: 1.618;
  text-wrap: pretty;
  scroll-behavior: smooth;
  counter-reset: h1 h2 h3 h4 h5 h6;

  :is(code, pre) {
    font-family: ui-monospace, monospace;
  }

  body {
    margin: auto;
    padding-inline: 1rem;
    max-inline-size: 32rem;

    footer {
      margin-block: 20vh;
      min-block-size: 60vh;
      text-align: end;
    }
  }
}

a {
  text-decoration: none;
}

:is(h1, h2, h3, h4, h5, h6, hr) {
  margin-block: 1lh 1cap;
  text-align: center;
  text-wrap: balance;

  & + & {
    margin-block-start: 1cap;
  }

  &::before {
    display: block;
    font-size: small;
    font-weight: normal;
    font-variant-numeric: oldstyle-nums;
  }
}

h1 {
  line-height: 1;
  font-size: xxx-large;
  font-weight: 400;
  letter-spacing: -0.03ch;
  counter-increment: h1;
  counter-reset: h2 h3 h4 h5 h6;

  &::before {
    content: counter(h1);
  }
}

h2 {
  line-height: 1.2;
  font-size: xx-large;
  font-weight: 500;
  letter-spacing: -0.02ch;
  counter-increment: h2;
  counter-reset: h3 h4 h5 h6;

  &::before {
    content: counter(h1) "." counter(h2);
  }
}

h3 {
  line-height: 1.4;
  font-size: x-large;
  font-weight: 600;
  letter-spacing: -0.01ch;
  counter-increment: h3;
  counter-reset: h4 h5 h6;

  &::before {
    content: counter(h1) "." counter(h2) "." counter(h3);
  }
}

h4 {
  font-size: large;
  counter-increment: h4;
  counter-reset: h5 h6;

  &::before {
    content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4);
  }
}

h5 {
  font-size: medium;
  counter-increment: h5;
  counter-reset: h6;

  &::before {
    content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "."
      counter(h5);
  }
}

h6 {
  font-size: medium;
  font-variant: all-small-caps oldstyle-nums;
  counter-increment: h6;

  &::before {
    content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "."
      counter(h5) "." counter(h6);
  }
}

hr {
  border: none;

  &::after {
    content: "— § —";
  }
}

p {
  margin-block: 1ex;
  hanging-punctuation: first allow-end last;
}

:not(li) > :is(ol, ul),
:is(blockquote, dl) {
  margin-block: 1cap;
}

:is(ol, ul, blockquote, dd) {
  margin-inline: 0;
  padding-inline-start: 2em;
}

dt {
  font-style: italic;
}

img {
  display: block;
  max-inline-size: 100%;
  margin: 1rem auto;
}

table {
  margin: 1rem auto;
  border-spacing: 1em 0;

  tfoot {
    font-style: italic;
  }
}

code {
  font-size: smaller;
}

pre {
  font-size: small;
  margin-block: 1lh;
  text-wrap-mode: wrap;
}

sup {
  font: 1em system-ui;
  vertical-align: baseline;
  font-variant-position: super;
}

li.task-list-item {
  list-style: "☐ ";

  &:has([checked]) {
    list-style: "☒ ";
  }

  input.task-list-item-checkbox {
    display: none;
  }
}

del:hover {
  text-decoration-line: underline;
  text-decoration-skip-ink: auto;
}

@media not (prefers-contrast: more) {
  :is(blockquote, del),
  ::marker,
  ::before,
  ::after {
    color: light-dark(grey, silver);
  }
}

pre.highlight {
  /* Primary: keywords, command prompt, heading, strong emphasis */
  :is([class^="k"], .gp, .gh, .gs) {
    color: light-dark(blue, gold);
  }

  /* Secondary: names, subheadings, emphasis */
  :is([class^="n"], .gu, .ge) {
    color: light-dark(navy, khaki);
  }

  /* Accent: numbers, escape */
  :is([class^="m"], .esc) {
    color: light-dark(purple, orange);
  }

  /* Special: strings, insertion, console output */
  :is([class^="s"], .gi, .go) {
    color: light-dark(green, limegreen);
  }

  /* Notice: error, double emphases, invalid syntax */
  :is(.gr, .ges, .err) {
    color: light-dark(red, orangered);
  }

  /* Mute: punctuations, operators, comments, deletion, traceback */
  :is([class^="p"], [class^="o"], [class^="c"], .gd, .gt) {
    color: light-dark(grey, silver);
  }
}

:is(ol, ul).inline {
  padding: 0;

  * {
    display: contents;
  }

  li::before {
    content: "· ";
    font-weight: normal;
  }

  > li:first-child::before {
    content: none;
  }

  font-weight: bold;

  :is(ol, ul) {
    font-weight: normal;

    :is(ol, ul) {
      font-variant: all-small-caps oldstyle-nums;
    }
  }
}
