/*
  0. Layout
  1. Markdown
  2. GitHub-Flavoured Markdown
  3. Kramdown
  4. Custom
*/

html {
  /* Serif on Safari, sans on else. */
  font-family: ui-serif, system-ui;
  font-synthesis: none;
  line-height: 1.6;
  text-wrap: pretty;
  scroll-behavior: smooth;

  body {
    margin: auto;
    padding-inline: 1rem;
    max-inline-size: 32rem;

    footer {
      margin-block: 20vh;
      min-block-size: 60vh;
      text-align: end;
    }
  }
}

:target {
  outline-style: solid;
}

@media not (prefers-contrast: more) {
  ::marker,
  ::before,
  ::after {
    color: light-dark(grey, silver);
  }
}

/*
  1. Markdown
*/

a {
  text-decoration: none;
}

p {
  hanging-punctuation: first allow-end last;
}

em {
  font-style: inherit;
  font-weight: 600;

  strong {
    font-weight: 1000;
  }
}

strong {
  font-weight: 800;
}

/* "" -> <q>“”</q> */
:is(blockquote, q) {
  font-style: italic;
}

:is(blockquote, ol, ul) {
  margin-inline: 0;
  padding-inline-start: 2em;
}

q {
  quotes: none;
}

pre {
  margin-block: 1lh;
  text-wrap-mode: wrap;
}

:is(code, pre) {
  font-family: ui-monospace, monospace;
  font-size-adjust: 0.5;
}

:is(h1, h2, h3, h4, h5, h6) {
  margin-block: 1lh 1em;
  text-align: center;
  text-wrap: balance;

  & + & {
    margin-block-start: 1em;
  }
}

h1 {
  line-height: 1;
  font-size: xxx-large;
  font-weight: 400;
  letter-spacing: -0.03ch;
}

h2 {
  line-height: 1.2;
  font-size: xx-large;
  font-weight: 500;
  letter-spacing: -0.02ch;
}

h3 {
  line-height: 1.4;
  font-size: x-large;
  font-weight: 600;
  letter-spacing: -0.01ch;
}

h4 {
  font-size: large;
}

h5 {
  font-size: medium;
}

h6 {
  font-size: small;
  text-transform: uppercase;
}

hr {
  margin-block: 1lh;
  border: none;
  text-align: center;

  &::after {
    content: "— § —";
  }
}

img {
  max-inline-size: 100%;
}

/*
  2. GitHub-Flovoured Markdown
*/

del:active {
  text-decoration-line: underline;
  text-decoration-skip-ink: auto;
}

table {
  margin: 1em auto;
  border-spacing: 1em 0;

  /* Technically a Kramdown feature, not GFM. */
  tfoot {
    font-style: italic;
  }
}

li.task-list-item {
  list-style: "☐ ";

  &:has([checked]) {
    list-style: "☒ ";
  }

  input.task-list-item-checkbox {
    display: none;
  }
}

/*
  3. Kramdown
*/

dl {
  margin-block: 1em;

  dt {
    font-weight: bold;
  }

  dd {
    margin-inline: 0;
    padding-inline-start: 2em;
  }
}

/* *[abbr]: title */
abbr[title]:active::after {
  content: " " attr(title);
  font: caption;
}

/* ![caption](image){:standalone} */
figure {
  margin: 1rem auto;
  text-align: center;

  figcaption {
    font-style: italic;
  }
}

/* [^footnote] */
sup {
  font-family: system-ui;
  vertical-align: baseline;
  font-variant-position: super;
}

.footnotes {
  margin-block: 1lh;

  &::before {
    content: "Notes";
  }
}

:is(h1, h2, h3, h4, h5, h6)::after {
  content: "#" attr(id);
  display: block;
  font:
    normal xx-small/2 ui-monospace,
    monospace;
  text-transform: initial;
  letter-spacing: initial;
}

/* Rouge/Pygments */
pre.highlight {
  /* keywords, command prompt, heading, strong emphasis */
  :is([class^="k"], .gp, .gh, .gs) {
    color: light-dark(blue, gold);
  }

  /* names, subheadings, emphasis */
  :is([class^="n"], .gu, .ge) {
    color: light-dark(navy, khaki);
  }

  /* numbers, escape */
  :is([class^="m"], .esc) {
    color: light-dark(purple, orange);
  }

  /* strings, insertion, console output */
  :is([class^="s"], .gi, .go) {
    color: light-dark(green, limegreen);
  }

  /* error, double emphases, invalid syntax */
  :is(.gr, .ges, .err) {
    color: light-dark(red, orangered);
  }

  /* punctuations, operators, comments, deletion, traceback */
  :is([class^="p"], [class^="o"], [class^="c"], .gd, .gt) {
    color: light-dark(grey, silver);
  }
}

/*
  4. Custom
*/

:is(ol, ul).inline {
  padding: 0;

  * {
    display: contents;
  }

  li::before {
    content: "· ";
    font-weight: normal;
  }

  > li:first-child::before {
    content: none;
  }

  font-weight: bold;

  :is(ol, ul) {
    font-weight: normal;

    :is(ol, ul) {
      font-variant: all-small-caps oldstyle-nums;
    }
  }
}

:is(h1, h2, h3, h4, h5, h6)::before {
  display: block;
  line-height: 1.8;
  font-size: x-small;
  font-weight: normal;
  /* Small caps for sans, oldstyle for serif */
  font-variant: all-small-caps oldstyle-nums;
  text-transform: initial;
  letter-spacing: initial;
}

h1 {
  counter-increment: h1;
  counter-reset: h2 h3 h4 h5 h6 figure;

  &::before {
    content: counter(h1);
  }
}

h2 {
  counter-increment: h2;
  counter-reset: h3 h4 h5 h6;

  &::before {
    content: counter(h1) "." counter(h2);
  }
}

h3 {
  counter-increment: h3;
  counter-reset: h4 h5 h6;

  &::before {
    content: counter(h1) "." counter(h2) "." counter(h3);
  }
}

h4 {
  counter-increment: h4;
  counter-reset: h5 h6;

  &::before {
    content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4);
  }
}

h5 {
  counter-increment: h5;
  counter-reset: h6;

  &::before {
    content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "."
      counter(h5);
  }
}

h6 {
  counter-increment: h6;

  &::before {
    content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "."
      counter(h5) "." counter(h6);
  }
}

figure {
  counter-increment: figure;

  figcaption::before {
    content: "f" counter(h1) "." counter(figure) " ";
    font-variant-numeric: oldstyle-nums;
  }
}
