<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="color-scheme" content="dark light" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>taronomy</title>

    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <header>
      <nav>
        <ol class="wrap">
          <li><a href="/">taronomy</a></li>
          <ul>
            <li><a href="/bio">bio</a></li>
            <li>
              <a href="/u56">logs</a>
              <ol>
                <li><a href="/u56">u56</a></li>
                <ol>
                  <li><a href="/u55">u55</a></li>
                  <li><a href="/u54">u54</a></li>
                  <li><a href="/u53">u53</a></li>
                  <li><a href="/u52">u52</a></li>
                  <li><a href="/u51">u51</a></li>
                  <li><a href="/u50">u50</a></li>
                </ol>
              </ol>
            </li>
          </ul>
        </ol>
        <a href="#" class="ready">^</a>
      </nav>
    </header>

    <main>
      <article>{{ content }}</article>
    </main>

    <footer>
      <address>
        <strong>TARO</strong><br />
        <em>Social systems</em><br />
        <a href="mailto:taronomy@gmail.com">taronomy@gmail.com</a>
      </address>
    </footer>
  </body>
</html>
