<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="color-scheme" content="dark light" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>taronomy</title>

    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <header>
      <nav>
        <ul class="inline">
          <li><a href="/#">taronomy</a></li>
          <li><a href="/u56#">2026</a></li>
          <li><a href="/bio#">bio</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <article>{{ content }}</article>
    </main>

    <footer>
      <address>
        <strong>Taro</strong><br />
        <em>Social systems</em><br />
        <a href="mailto:taronomy@gmail.com">taronomy@gmail.com</a>
      </address>
    </footer>
  </body>
</html>
