<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>taronomy</title>

    <link rel="stylesheet" href="/assets/css/style.css" />
  </head>

  <body>
    <header>
      <nav><a href="/">taronomy</a> is a social systems studio.</nav>
    </header>

    <main>
      <article>{{ content }}</article>
    </main>

    <footer>
      <address>
        <strong>TARO</strong><br />
        <em>Social Fabric Softener</em><br />
        <a href="mailto:taronomy@gmail.com">
          <code>taronomy@gmail.com</code>
        </a>
      </address>
    </footer>
  </body>
</html>
